{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="about-hero home-hero">
    <img src="{{ url_for('pictures', filename='teamPhotosPushback/IMG_2639.jpg') }}" alt="Rogue Robotics robot on the field">
    <div class="about-hero-overlay">
        <h1>Rogue Robotics</h1>
    </div>
</section>

<section class="about-story-section">
    <div class="about-story-grid">
        <div class="about-story-text">
            <h2>Rogue Robotics</h2>
            <p>
                Rogue Robotics is a student-led VEX V5 team focused on engineering, leadership,
                and outreach. We design, build, and program competitive robots while helping
                inspire younger students through STEM.
            </p>
            <a href="{{ url_for('about') }}" class="page-button light-button">Learn more about us</a>
        </div>
        <div class="about-story-image">
            <img src="{{ url_for('pictures', filename='teamPhotosPushback/IMG_0030.jpeg') }}" alt="Rogue Robotics team photo">
        </div>
    </div>
</section>

<section class="about-history-section">
    <div class="about-history-grid">
        <div class="about-history-images">
            <img src="{{ url_for('pictures', filename='teamPhotosPushback/images.jpeg') }}" alt="Rogue Robotics team">
        </div>
        <div class="about-history-text">
            <h2>What is VEX V5?</h2>
            <p>
                VEX V5 is an international competition where student teams build, code, and drive custom robots to win a new game challenge every season. It’s all about taking an idea, bringing it to life, and competing head-to-head on the field in a 2v2 match.
                What we actually do in VEX:
                Design & Build: Brainstorming, CADing, and building different prototypes and mechanisms.
                Coding: Writing autonomous code for the robot to run by itself, plus easy driver controls in the match.
                Strategy: Adapting on the spot and working with alliance partners during matches.pare our robot to handle real match challenges.
            </p>
            <a href="https://www.youtube.com/watch?v=68NxYIAzbkY" target="_blank" rel="noopener noreferrer" class="page-button dark-button">
                Learn more about this season
            </a>
        </div>
    </div>
</section>

{% endblock %}